.app-container{
    display: flex;

}
.content{
    width: 100%;
}
.sidebar{
    min-height: 800px;
}
.post-card{
    margin: 20px 50px;
    min-width: 30rem ;
}
.hash-tag{
    margin: 0px 3px;
} 
.reaction{
    
    margin: 15px 0px 0px 0px;

}
.create-post{
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
}